.product-slider {
    position: relative;
    text-align: center;
    padding-bottom: 67px;
    margin-bottom: 294px;

    @include mb();

    & .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        width: 360px;
        transform: translateY(-90%);
        z-index: -1;
    }

    & > .link-icon-right {
        color: $textColorLight;

        & > svg {
            color: $mainColor2;
        }
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 398px;
        z-index: -1;
        background: $gradient;
    }

    & .swiper-container {
        margin-bottom: 42px;
        padding: 30px 0;
        margin-top: -30px;
    }

    & .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    & .swiper-slide {
        width: 470px;
        height: auto;
        @media (max-width: $md2+px) {
            width: 320px;
        }

        @media (max-width: $md3+px) {
            width: 280px;
        }
    }
}

