@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
//@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 16px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		& ._preload-body {
			opacity: 0;
			visibility: hidden;

			&:before {
				display: none;
			}
		}
	}
}

@keyframes preloadBody {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	padding: 1px 0;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container-lg {
	max-width: 1810px;
	padding: 0 40px;
	width: 100%;

	@media (max-width: 374.98px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.container {
	max-width: 1560px !important;
	width: auto;
	margin: 0 auto;
	padding-left: 40px !important;
	padding-right: 40px !important;

	@media (max-width: 374.98px) {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

.container-sm {
	max-width: 1250px;
	width: auto;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;

	@media (max-width: 374.98px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.bg {
	background-color: #faf6f1;
}

// === title ========================================================================
.title-1 {
	font-size: 45px;
	font-weight: 300;
	line-height: 1.17em;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	margin-top: 0;

	@media (max-width: $md3+px) {
		font-size: 38px;
	}

	@media (max-width: $md4+px) {
		font-size: 32px;
	}

	& > strong {
		font-weight: 500;
	}
}
.title-2 {
	font-size: 35px;
	font-weight: 300;
	line-height: 1.28em;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	margin-top: 0;

	@media (max-width: $md3+px) {
		font-size: 38px;
	}

	@media (max-width: $md4+px) {
		font-size: 32px;
	}

	& > strong {
		font-weight: 700;
	}
}

.title-3 {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.15em;
	line-height: 1.2em;
	text-transform: uppercase;

	@media (max-width: $md3+px) {
		font-size: 26px;
	}
}

.title-4 {
	font-size: 25px;
	font-weight: 300;
	line-height: 1.32em;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;

	@media (max-width: $md3+px) {
		font-size: 21px;
	}

	& > strong {
		font-weight: 700;
	}
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.link-icon-right {
	display: inline-flex;
	align-items: center;
	color: $mainColor;
	font-family: R$secondFontFamily;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2.4px;
	line-height: normal;
	text-transform: uppercase;
	transition: all 0.3s ease;

	& svg {
		transition: all 0.3s ease;
		margin-left: 7px;
		width: 28px;
		height: auto;
		display: block;
		margin-bottom: -2px;
	}

	@media (min-width: 992px) {
		&:hover {
			color: $mainColor2;
			& svg {
				transform: translateX(5px);
			}
		}
	}
}
.link-icon-left {
	display: inline-flex;
	align-items: center;
	color: $mainColor;
	font-family: R$secondFontFamily;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2.4px;
	line-height: normal;
	text-transform: uppercase;
	transition: all 0.3s ease;

	& svg {
		transition: all 0.3s ease;
		margin-right: 7px;
		width: 28px;
		height: auto;
		display: block;
		margin-bottom: -2px;
	}

	@media (min-width: 992px) {
		&:hover {
			color: $mainColor2;
			& svg {
				transform: translateX(-5px);
			}
		}
	}
}

.img-full-width {
	height: 758px;

	@media (max-width: $md2+px) {
		height: 550px;
	}
	@media (max-width: $md3+px) {
		height: 450px;
	}
}

// === and title ========================================================================

// === btn ========================================================================
.btn {
	display: inline-flex;
	min-height: 51px;
	border-radius: 3px;
	padding-left: 42px;
	padding-right: 42px;
	color: $textColor;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2.4px;
	line-height: 1.2em;
	text-transform: uppercase;
	align-items: center;
	transition: all 0.3s ease;
	border: none;

	@media (max-width: $md4+px) {
		padding-left: 20px;
		padding-right: 20px;
		min-height: 41px;
	}

	&.btn-light {
		background-color: #ffffff;
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.53);

		@media (min-width: 992px) {
			&:hover {
				box-shadow: 0 0 40px rgba(255, 255, 255, 0.73);
			}
		}
	}

	&.btn-dark {
		background: $gradient;
		color: $textColorLight;

		@media (min-width: 992px) {
			&:hover {
				box-shadow: 0 0 20px rgba($textColor, 0.73);
				color: #fff;
			}
		}
	}

	&.btn-primary {
		background-color: $mainColor;
		color: #fff;
		text-transform: none;
		padding-left: 23px;
		padding-right: 23px;
		border-radius: 6px;
		letter-spacing: 0;

		& svg {
			margin-left: 30px;

			@media (max-width: $md3+px) {
				margin-left: 15px;
			}
		}
	}
}

// === and btn ========================================================================

input.form-control {
	width: 100%;
	height: 51px;
	border-radius: 5px;
	background-color: #ffffff;
	padding-left: 22px;
	padding-right: 22px;

	color: $textColor;
	font-family: $mainFontFamily;
	font-size: 16px;
	font-weight: 300;
}

.textarea {
}

.form-select {
	min-height: 51px;
	border-radius: 5px;
	background-position: right 9px 19px;
	color: $textColor;
	font-family: $mainFontFamily;
	font-size: 16px;
	font-weight: 300;
	border: none !important;
	box-shadow: none !important;
}

.link {
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.55em;

	& h1 {
	}
	& h2 {
		font-size: 25px;
		font-weight: 500;
		line-height: 1.32em;
		text-transform: uppercase;
		margin-bottom: 0.64em;

		@media (max-width: $md3+px) {
			font-size: 19px;
		}
	}
	& h3 {
	}
	& h4 {
	}

	& h5 {
	}
	& h6 {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.625em;
		margin-bottom: 0;
	}

	& p {
		margin-bottom: 1.31em;
		& ~ h2 {
			margin-top: 2.76em;
		}

		& a {
			color: $mainColor2;
			text-decoration: underline;
			transition: all .3s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $mainColor;
				}
			}
		}
	}

	& ul {
	}

	& ol {
	}

	& figure {
	}

	& q {
		margin-top: 52px;
		margin-bottom: 53px;
		display: block;

		@media (max-width: $md3+px) {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		&:before,
		&:after {
			display: none;
		}
		& > b {
			display: block;
			font-size: 55px;
			font-weight: 400;
			letter-spacing: normal;
			line-height: 1.18em;
			text-transform: uppercase;
			margin-bottom: 38px;

			@media (max-width: $md3+px) {
				font-size: 45px;
				margin-bottom: 25px;
			}

			@media (max-width: $md4+px) {
				font-size: 30px;
			}
		}

		& > p {
			font-size: 18px;
			font-weight: 300;
			line-height: 1.44em;
			margin-bottom: 6px;

			& > strong {
				font-weight: 400;
			}
		}
	}


	&.col-2 {
		@media (min-width: 768px) {
			column-count: 2;
			column-gap: 29px;

			& h2 {
				column-span: all;
			}
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/promo-preview-products/promo-preview-products";
@import "../common/text-image-block/text-image-block";
@import "../common/bubbles/bubbles";
@import "../common/product-slider/product-slider";
@import "../common/story-slider/story-slider";
@import "../common/usp-block/usp-block";
@import "../common/hero/hero";
@import "../common/products/products";
@import "../common/card/card";
@import "../common/contact-block/contact-block";
@import "../common/text-block/text-block";
@import "../common/hero-slider/hero-slider";
@import "../common/newsletter/newsletter";
@import "../common/slider/slider";
@import "../common/product-details-card/product-details-card";
@import "../common/intro-text/intro-text";
@import "../common/branche-slider/branche-slider";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================
@import "pages/home";
@import "pages/products";
@import "pages/references";
@import "pages/references-detail";
@import "pages/product-detail";
@import "pages/branche-overview";
// ==== AND PAGES =====================================================
