.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #faf6f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: $textColor;
    transition: all 0.3s ease;
    height: 100%;
    position: relative;

    @media (min-width: 992px) {
        &:hover {
            color: $textColor;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.26);

            & .card__bg img {
                transform: scale(1.06);
            }
        }
    }

    @media (max-width: $md3+px) {
        padding: 10px;
    }
}

.card__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    border-radius: 6px;

    &:before {
        position: absolute;
        content: "";
        border-radius: 6px;
        background-color: #142e4a;
        opacity: 0.53;
        z-index: 2;
        height: 100%;
        width: 100%;
    }

    & img {
        border-radius: 6px;
        transition: all 1.4s ease;
    }
}

.card-body {
    flex: 1 1 auto;
    min-height: 430px;
    border-radius: 6px;
    border: 1px solid #deab6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 23px;
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: $secondFontFamily;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;

    @media (max-width: $md2+px) {
        min-height: 280px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @media (max-width: $md3+px) {
        min-height: 260px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & .link-icon-right {
        margin-top: 10px;
        font-weight: 300;
        color: $textColor;
        font-size: 14px;
    }
}

.card-title {

    &:not(.title-4) {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 4.5px;
        line-height: normal;
        text-transform: uppercase;
        font-family: $mainColor;
        margin-bottom: 14px;
        position: relative;
    
        @media (max-width: $md2+px) {
            font-size: 26px;
        }
    
        @media (max-width: $md3+px) {
            font-size: 22px;
        }
    }


    &:before {
        position: absolute;
        content: "";
        left: 50%;
        bottom: -4px;
        height: 1px;
        width: 141px;
        max-width: 100%;
        transform: translateX(-50%);
        background-color: rgba(#707070, 0.32);
    }
}

.card-subtitle {
    margin-bottom: 10px;
}
.card-img {
    margin: auto 0;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $md2+px) {
        height: 130px;
    }
    @media (max-width: $md3+px) {
        height: 115px;
    }

    & img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }
}
.card-text {
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 25px;
}

// == card product ============
.card.card_product {
    padding: 18px;
    background-color: #fff;

    @media (max-width: $md3+px) {
        padding: 10px;
    }

    & .card-body {
        min-height: 334px;
        padding-bottom: 27px;
        padding-top: 14px;
        text-align: center;

        @media (max-width: $md3+px) {
            min-height: 180px;
            padding-bottom: 10px;
            padding-top: 5px;
        }
    }

    & .card-img {
        height: 208px;
        margin-bottom: 17px;

        @media (max-width: $md3+px) {
            height: 100px;
            margin-bottom: 10px;
        }
    }

    & .card-title {
        font-size: 25px;
        letter-spacing: 0.15em;
        margin-bottom: 11px;
        &:before {
            display: none;
        }

        @media (max-width: $md3+px) {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    & .link-icon-right {
        @media (max-width: $md3+px) {
            font-size: 12px;
        }
    }
}
// == // card product ============

.card.card_v2 {
    & .card-body {
        min-height: 334px;
        color: $textColorLight;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: $md2+px) {
            min-height: 280px;
        }

        @media (max-width: $md3+px) {
            min-height: 260px;
        }
    }

    & .card-title {
        font-size: 25px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.15em;
        line-height: 1.2em;
        text-transform: uppercase;

        @media (max-width: $md2+px) {
            font-size: 23px;
        }

        @media (max-width: $md3+px) {
            font-size: 21px;
        }    
    }

    & .link-icon-right {
        color: $textColorLight;
        margin-top: 0;
        & svg {
            color: $mainColor2;
        }
    }
}



.card.bann-card {
    background-color: #fff;
    
    & .card-body {
        text-align: left;
        padding: 50px 52px;
        align-items: flex-start;

        @media (max-width: $md3+px) {
            padding: 20px;
        }
    }

    & .card-title {
        font-weight: 600;
        margin-bottom: 40px;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }

        &:before {
            display: none;
        }
    }

    & .btn {
        margin-top: 45px;

        @media (max-width: $md3+px) {
            margin-top: 20px;
        }
    }
}
