.usps-slider {
    margin-bottom: 139px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;

        @media (max-width: $md3+px) {
            margin-bottom: 35px;
        }

        & > strong {
            font-weight: 600;
        }
    }

    & .swiper-container {
        padding-bottom: 95px;
        

        @media (min-width: 992px) {
            overflow: visible;
        }

        @media (max-width: $md3+px) {
            padding-bottom: 50px;
        }
    }

    & .swiper-pagination {

        & .swiper-pagination-bullet {
            opacity: 1;
            background-color: transparent;
            height: 10px;
            width: 10px;
            border: 1px solid $textColor;
            margin: 0 2.5px;
            &.swiper-pagination-bullet-active {
                background-color: $textColor;
            }
        }
    }
}
