.promo-header {
    position: relative;
    margin-bottom: 300px;

    @media (max-width: $md2+px) {
        margin-bottom: 150px;
    }

    @media (max-width: $md3+px) {
        margin-bottom: 80px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: $gradient2;
    }

    &__body {
        min-height: 100vh;
        color: $textColorLight;
        padding-bottom: 210px;
        padding-top: 140px;
        position: relative;
        z-index: 2;

        @media (max-width: 1300px) {
            display: block !important;
            padding-top: 200px;
        }

        @media (max-width: $md3+px) {
            padding-top: 145px;
        }

        & .promo-preview-products {
            position: absolute;
            top: max(120px, 25vh);
            right: 15px;

            @media (max-width: 1300px) {
                position: relative;
                margin: 0 auto;
                top: 0;
                right: 0;
            }

            @media (min-width: 1300px) {
                animation: promoPreviewAnim 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
                animation-delay: -2s;
                animation-duration: 7s;
            }

            @keyframes promoPreviewAnim {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-40px);
                }
                100% {
                    transform: translateY(0px);
                }
            }
        }

        & .btn {
            min-height: 60px;
        }
    }

    &__text-wrap {
        max-width: 500px;
        width: 45%;

        @media (max-width: 1300px) {
            width: 100%;
            margin-bottom: 60px;
            max-width: none;
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 35px;

        & > strong {
            font-weight: 700;
        }
    }

    &__subtitle {
        font-size: 35px;
        font-weight: 200;
        line-height: 1.28em;
        margin-bottom: 57px;
        text-transform: uppercase;

        @media (max-width: $md3+px) {
            font-size: 29px;
        }
    }

    &__bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        height: 230px;
        width: 100%;
        display: flex;
        flex-direction: column;

        & div:nth-child(2) {
            flex: 1 1 auto;
            background-color: #fff;
        }
    }

    &__scroll {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 3;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 2.4px;
        line-height: 1.2em;
        text-transform: uppercase;
        color: $textColor;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;

                & .promo-header__scroll-icon {
                    border-color: $mainColor;

                    & svg path {
                        stroke: $mainColor !important;
                    }
                }
            }
        }
    }

    &__scroll-icon {
        margin-top: 15px;
        height: 58px;
        width: 58px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $textColor;
        transition: all 0.3s ease;

        & svg {
            display: block;
            animation: arrowAnim 2s ease infinite;
            & path {
                transition: all 0.3s ease;
            }
        }

        @keyframes arrowAnim {
            0% {
                transform: translateY(-5px);
            }
            50% {
                transform: translateY(5px);
            }
            100% {
                transform: translateY(-5px);
            }
        }
    }
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

.story-block {
    position: relative;
    margin-bottom: 186px;

    @include mb();

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__body {
        min-height: 935px;
        padding-top: 120px;
        padding-bottom: 120px;

        @media (max-width: $md2+px) {
            min-height: 700px;
        }
        @media (max-width: $md3+px) {
            min-height: 500px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__title {
        font-size: 55px;
        font-weight: 700;
        line-height: 1.1818em;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;

        @media (max-width: $md3+px) {
            font-size: 42px;
        }
        @media (max-width: $md4+px) {
            font-size: 36px;
        }
    }

    &__subtitle {
        margin-bottom: 72px;
        max-width: 768px;

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
    }
}

.usp-block {
    margin-bottom: 227px;

    @include mb();

    &__body {
    }

    &__row-1 {
        background-color: #faf6f1;
        padding: 147px 0 86px;
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 6px 6px 0 0;

        @media (max-width: $md3+px) {
            padding-top: 80px;
            padding-bottom: 60px;
        }

        & > .row {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;

            & > .col-12 {
                margin-bottom: 60px;
            }
        }
    }

    &__row-2 {
        background: $gradient;
        margin-right: -15px;
        margin-left: -15px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 0 0 6px 6px;
        & > .row {
            max-width: 1151px;
            margin: 0 auto;
            flex-wrap: nowrap;

            @media (max-width: $md2+px) {
                flex-wrap: wrap;
            }

            & .col {
                position: relative;
                padding-left: 0;
                padding-right: 0;
                &:nth-child(1) {
                    flex: 0 0 33%;
                    margin-right: 20px;

                    @media (max-width: $md2+px) {
                        order: 1;
                        flex: 0 0 100%;
                    }
                }
                &:nth-child(2) {
                    flex: 1 1 auto;
                    padding-bottom: 75px;
                    min-height: 406px;
                    padding-top: 108px;
                    color: $textColorLight;
                    padding-right: 25px;

                    @media (max-width: $md3+px) {
                        padding-top: 60px;
                        flex: 0 1 100%;
                        padding-bottom: 0;
                        min-height: auto;
                    }
                }
                &:nth-child(3) {
                    flex: 0 0 270px;
                    padding-bottom: 75px;
                    padding-top: 114px;

                    @media (max-width: $md3+px) {
                        padding-top: 40px;
                        flex: 0 1 100%;
                    }
                }
            }

            & .btn {
                margin-top: 15px;
            }
        }
    }

    &__img {
        max-width: 100%;

        @media (min-width: 992px) {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        @media (max-width: $md2+px) {
            text-align: center;
        }

        & img {
            width: 100%;
            height: auto;

            @media (max-width: $md2+px) {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__title {
        margin-bottom: 61px;

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    &__position {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    &__form-item {
        
    }
}

.usp-block-card {
    text-align: center;
    &__icon {
        height: 52px;
        color: $mainColor2;
        margin-bottom: 30px;
        font-size: 50px;
        & svg {
            height: 100%;
            width: auto;
        }
    }

    &__title {
        margin-bottom: 14px;
    }

    &__text {
        max-width: 226px;
        margin: 0 auto 28px;

        &.text-content {
            font-weight: 400;
        }
    }
}
