.products-page {
    & .hero.hero_mb {
        margin-bottom: 0;
    }

    & .products__list {
        margin-top: -95px;
    }
}


.products {
    padding-bottom: 95px;
    text-align: center;
    position: relative;
    @media (max-width: $md3+px) {
        margin-bottom: 80px;
    }

    & .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 250px;
        transform: translate(-50%, -70%);

        &.bubbles-2 {
            top: auto;
            right: 0;
            left: auto;
            width: 350px;
            bottom: 0;
            transform: translate(10%, -50%);
        }
    }

    &.products_bg {
        margin-bottom: -1px !important;
        padding-bottom: 95px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 64%;
            background-color: #faf6f1;
            z-index: -1;
        }
    }

    &__list {
        &.swiper-container:not(.not-slider) {
            margin: -20px -18px;
            padding: 20px 18px 50px;

            & .swiper-slide {
                height: auto;
            }

            & .swiper-pagination {

                & .swiper-pagination-bullet {
                    opacity: 1;
                    background-color: transparent;
                    height: 10px;
                    width: 10px;
                    border: 1px solid $textColor;
                    margin: 0 2.5px;
                    &.swiper-pagination-bullet-active {
                        background-color: $textColor;
                    }
                }
            }
        }
        

        &.not-slider {
            &.swiper-container {
                overflow: visible;
            }

            & .swiper-wrapper {
                width: auto;
                display: flex;
                margin: 0 -15px;
                flex-wrap: wrap;
                justify-content: center;
            }

            & .swiper-slide {
                width: auto;
                height: auto;
                flex: 0 1 33.333%;
                padding: 0 15px;
                margin-bottom: 30px;

                @media (max-width: $md2+px) {
                    flex: 0 1 50%;
                }

                @media (max-width: 575.98px) {
                    flex: 0 1 100%;
                }
            }
        }




        @media (max-width: 374.98px) {
            & .col-6 {
                flex: 0 1 100%;
            }
        }

        & ._load-category {
            &.row {
                padding-right: 0;
                padding-left: 0;
                width: auto;
                margin-left: 0;
                margin-right: 0;

                &.gy-4 {
                    margin-top: 0;
                }
            }

            @media (max-width: 374.98px) {
                & .col-6 {
                    flex: 0 1 100%;
                }
            }
        }
    }

    &__bottom {
        margin-top: 105px;

        @media (max-width: $md3+px) {
            margin-top: 50px;
        }

        &:before, &:after {
            content: '';
            flex: 1 1 auto;
            height: 1px;
            background-color: #d1d1d1;
        }
    }

    &__load-more {
        color: $mainColor;
        font-family: $secondFontFamily;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2.4px;
        line-height: 1.25em;
        text-transform: uppercase;
        transition: all .3s ease;
        flex: 0 0 auto;
        margin: 0 23px;
        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
            }
        }
    }

    &__link {
        margin-top: 82px;
    }
}

