.product-detail-page {
    & .text-image-block {
        @media (max-width: $md2+px) {
            & .bubbles {
                display: none;
            }
        }
    }
}

.text-image-block {
    margin-bottom: 31px;
    position: relative;
    z-index: 3;

    @media (max-width: $md3+px) {
        margin-bottom: 0;
    }

    &.text-image-block_revers {
        & .text-image-block__item {
            &:nth-child(odd) {
                & > .row {
                    @media (min-width: 768px) {
                        flex-direction: row-reverse;
                    }
                }
    
                & .text-image-block__item-images {
                    & img {
                        &:nth-child(1) {
                            left: 0;
                            right: auto;
                        }
            
                        &:nth-child(2) {
                            left: auto;
                            right: -134px;
                            transform: rotate(2deg);
    
                            @media (max-width: 1770px) {
                                right: 0;
                            }
    
                            @media (max-width: $md2+px) {
                                right: 10%;
                            }
            
                        }
                    }
                }
    
                & .text-image-block__item-text-wrap {
                    margin-left: 0;
                    margin-right: 95px;
    
                    @media (max-width: $md1+px) {
                        margin-right: 50px;
                    }
    
                    @media (max-width: $md2+px) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &:not(.text-image-block_revers) {
        & .text-image-block__item {
            &:nth-child(even) {
                & > .row {
                    @media (min-width: 768px) {
                        flex-direction: row-reverse;
                    }
                }
    
                & .text-image-block__item-images {
                    & img {
                        &:nth-child(1) {
                            left: 0;
                            right: auto;
                        }
            
                        &:nth-child(2) {
                            left: auto;
                            right: -134px;
                            transform: rotate(2deg);
    
                            @media (max-width: 1770px) {
                                right: 0;
                            }
    
                            @media (max-width: $md2+px) {
                                right: 10%;
                            }
            
                        }
                    }
                }
    
                & .text-image-block__item-text-wrap {
                    margin-left: 0;
                    margin-right: 95px;
    
                    @media (max-width: $md1+px) {
                        margin-right: 50px;
                    }
    
                    @media (max-width: $md2+px) {
                        margin-right: 0;
                    }
                }
            }
        }
    }


    & .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 250px;
        transform: translate(-50%, -50%);

        &.bubbles-2 {
            top: auto;
            right: 0;
            left: auto;
            width: 350px;
            bottom: 0;
            transform: translate(10%, -50%);
        }
    }

    &__item {
        margin-bottom: 264px;

        @media (max-width: $md2+px) {
            margin-bottom: 100px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 80px;
        }

  

        & .col {
            &:nth-child(1) {
                @media (max-width: $md2+px) {
                    margin-bottom: 50px;
                }

                @media (max-width: $md3+px) {
                    margin-bottom: 35px;
                }
            }
        }
    }

    &__item-images {
        position: relative;
        height: 100%;
        min-height: 610px;

        @media (max-width: $md3+px) {
            min-height: 400px;
        }

        @media (max-width: $md4+px) {
            min-height: 320px;
        }

        &.text-image-block__item-images_sm {
            & img {
                box-shadow: none;
                &:nth-child(1) {
                    border-radius: 0;
                    width: 100%;
                }
            }
        }

        & img {
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
            &:nth-child(1) {
                border-radius: 15px;
                left: auto;
                right: 0;
                width: auto;

                @media (max-width: $md2+px) {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                top: auto;
                left: auto;
                height: 290px;
                width: 290px;
                left: -134px;
                bottom: -120px;
                border-radius: 11px;
                display: block;
                transform: rotate(-2deg);

                @media (max-width: 1770px) {
                    left: 0;
                }

                @media (max-width: $md2+px) {
                    left: 10%;
                }

                @media (max-width: $md3+px) {
                    height: 180px;
                    width: 180px;
                    bottom: -60px;
                }
            }
        }
    }

    &__item-text-wrap {
        margin-left: 113px;

        @media (max-width: $md1+px) {
            margin-left: 50px;
        }

        @media (max-width: $md2+px) {
            margin-left: 0;
        }
    }

    &__item-title {
        margin-bottom: 15px;

        &.title-4 {
            & > strong {
                font-weight: 500;
            }
        }
    }

    &__item-text {
        margin-bottom: 49px;
    }
}
