.slider {
    & .swiper-container {
        margin-bottom: 23px;
    }
    & .swiper-slide {
        height: 542px;

        @media (max-width: $md3+px) {
            height: 400px;
        }
        @media (max-width: $md4+px) {
            height: 300px;
        }

        & .icon-play_circle_filled {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            color: rgba(#fff, 0.7);
            font-size: 100px;
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    color: #fff;
                    transform: translate(-50%, -50%) scale(1.06);
                }
            }
        }
    }

    & .swiper-pagination {
        //bottom: 110px;

        & .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            border: 2px solid #ffffff;
            opacity: 1;
            margin: 0 7px;
            background-color: transparent;

            &.swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }
    }

    &__text {
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: normal;
        line-height: 26px;
    }
}
